#################
# Build results
#################

[Bb]uild/
[Bb]uild**/
[Dd]ebug/
[Rr]elease/
[Bb]in
[Oo]bj
[Tt]arget
[Ii]nclude

# VS Code setup
.vscode/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Rust files
*.lock

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
